---
import ProjectList from "./ProjectList.astro"
---

<section class="projects">
    <h1 class="title-projects card">PROYECTOS</h1>
    <ProjectList />
</section>

<style>
    .title-projects {
        font-size: 50px;
        color: white;
        padding: 10px;
        text-align: center;
        background-color: rgba(25, 33, 82, 0.849);
    }

    .projects {
        padding-top: 15px;
    }
</style>
